<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roger">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roger">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Roger.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".guide.GuideActivity"
            android:exported="false" />
        <activity
            android:name=".guide.GuideDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".musical.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".musical.MusicViewerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".musical.MusicNowPlayingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".musical.MusicAlbumActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".scorekeeper.ScorekeeperActivity"
            android:exported="false" />
        <activity
            android:name=".card.CardActivity"
            android:exported="false" />
    </application>

</manifest>